* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.post-box {
    max-width: 80%;
    width: 600px;
    border-radius: 15px;
    position: relative;
}

.userInfo {
    height: 50px;
    font-size: 14px;
}

.userImage {
    max-width: 40px;
    min-width: 30px;
    max-height: 40px;
    min-height: 30px;
    border-radius: 50%;
}


.userInfo p {
    margin: 0;
}

.postImage {
    height: auto;
    max-width: 100%;
}

.btn:focus {
    box-shadow: none;
}

.btn {
    padding: 5px;
}
