@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Lato:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  font-family: 'Lato', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.color-red {
  color: #FF2D01;
}
.btn-primaire { 
  background-color: #FF2D01 !important; 
  color: white;
  font-weight: 700;
  height: 40px;
}
.btn-primaire:hover, .dropdown-item:hover { 
  background-color: #FFD7D7 !important;
  color: #FF2D01 !important; 
  outline: none !important;
}

.btn-primaire:hover a {
  color: #FF2D01 !important;
}

a {
  color: white;
  text-decoration: none;
}

.red {
  color: red;
}
